header.main-header  
    a(href='/').logo
        span.logo-mini
            <b>Soe</b>
        span.logo-lg
            <b>Soemantryzhop</b>
    nav(role='navigation').navbar.navbar-statistic-top
        a(href='#', role='button', data-toggle='offcanvas').sidebar-toggle
            span.sr-only Toggle Navigation 
            span.icon-bar
            span.icon-bar
            span.icon-bar
        div.navbar-custom-menu 
            ul.nav.navbar-nav 
                li.dropdown.user.user-menu
                    a(href='#',data-toggle='dropdown').dropdown-toggle
                        img(src='/adminlte/dist/img/user2-160x160.jpg',alt='User Image').user-image
                        span.hidden-xs
                            | Diptya Bagus
                    ul.dropdown-menu
                        li.user-header
                            img(src='/adminlte/dist/img/user2-160x160.jpg',alt='User Image').img-circle
                            P
                                | Diptya Bagus
                                small 
                                    | Founder Soemantryzhop
                        li.user-footer 
                            .pull-right
                                a(href='/').btn.btn-default.btn-flat
                                    | Sign Out 
                            